include mixins/mixins.pug

doctype html
html
    head
        title Projects
        link(rel='stylesheet', href='/static/css/projects.css')
        link(rel='stylesheet', href='/static/fontawesome/css/all.css')
        link(rel='icon', href='/static/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    body
        +nav
        .content
            if projects
                each project in projects
                    .project
                        .project-image(style=`background-image: url(/static/${project.image})`)
                            .blur
                        .project-content
                            h3= project.title
                            p= project.description
                            if project.skills.length > 0
                                .project-skills
                                    each skill in project.skills
                                        span= skill
                            .project-links
                                if project.demoLink
                                    a(href=`${project.demoLink}`, target='_blank')
                                        i.fa.fa-external-link-alt
                                        |  Live demo
                                a(href=`${project.sourceLink}`, target='_blank')
                                    i.fab.fa-github
                                    |  View source